*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #222;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orangered{
    color: orangered;
}

.dimensionImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}